<body>
  <header>
    <div class="header">
      <div class="links">
        <a href="https://asungur-site-assets.nyc3.digitaloceanspaces.com/public/assets/asungur_DO.pdf" target="_blank">CV</a>
        <a href="https://medium.com/@sunguralican"  target="_blank">Blog</a>
      <div/>
    </div>
  </header>
  <main>
    <section id="fill1">
    </section>
    <section id="intro">
      <div class="info">
        <h1>
          Hello! I'm Alican.
          <br/><br/>
        </h1>
        <h2>
          I am a full-stack software developer based in London.
          <br/><br/>
        </h2>
        <h4>
          <a href="https://github.com/asungur"        target="_blank">Github</a>
          —
          <a href="mailto:sunguralican@gmail.com"       target="_blank">Email</a>
        <h4>
      </div>
    </section>
    <section id="self">
      <div class="profile">
        <figure>
          <img class="profile-image" src="https://asungur-site-assets.nyc3.digitaloceanspaces.com/public/assets/images/self.jpg" alt="Alican Sungur" >
        <figure>
      </div>
    </section>
    <section id="fill2">
      <div class="arrow bounce">
        <a class="down-arrow" href="#details"></a>
      </div>
    </section>
    <section id="fill3">
    </section>
    <section id="details">
      <div class="more">
        <h2>
          More About Me
          <br/><br/>
        </h2>
        <p>
          I am a studious learner and I believe in writing clean, readable code with comprehensive documentation.
          <br/><br/>
          I have multiple years of experience developing full stack applications and back-end development projects using Ruby, Rails, SQL, JavaScript and React.
          <br/><br/>
          I’m currently open for new opportunities. Feel free to contact me via email or Twitter if you’d like to talk or discuss anything about software engineering.
        </p>
        <h4>
          <br/><br/><br/>
          <a href="https://twitter.com/asungur_" target="_blank">Twitter</a>
          —
          <a href="https://www.linkedin.com/in/sunguralican/"        target="_blank">Linkedin</a>
          —
          <a href="https://medium.com/@sunguralican" target="_blank">Medium</a>
          <br/><br/>
        <h4>
      </div>
    </section>
    <section id="fill4">
    </section>
    <section id="fill5">
    </section>
    <section id="project1">
      <div id="trend-check" class="project-text">
        <h1>
          Recent Work
          <br/><br/>
        </h1>
        <h3>
          <br/>
          Trend-Check
          <br/><br/>
        </h3>
        <p>
          Trend-Check is a dashboard application that displays top Twitter trends for the UK and the 26 major cities. It allows registered users to fetch the recent data from TwitterAPI.
          <br/><br/>
          Trend-Check is developed using Ruby, Sinatra, PostgreSQL, BCrypt in the back-end, and GoogleCharts, Erb in the front-end.
          <br/><br/>
        </p>
        <h4>
          <br/><br/>
          <a href="https://trend-check-w-db.herokuapp.com/" target="_blank">Demo</a>
          —
          <a href="https://github.com/asungur/trend_check"  target="_blank">Github Repo</a>
        <h4>
      </div>
    </section>
    <section id="content1">
      <div class="project-gif">
        <figure>
          <img class="project-gif"
                src="https://asungur-site-assets.nyc3.digitaloceanspaces.com/public/assets/images/trend_check_demo.gif"
                alt="Trend-Check"
          >
        <figure>
      </div>
    </section>
    <section id="fill6">
    </section>
    <section id="fill7">
    </section>
    <section id="project2">
      <div id="hop-timer" class="project-text">
        <h3>
          Hop Timer
          <br/><br/>
        </h3>
        <p>
          HopTimer is a user friendly benchmarking gem that works as a wrapper for Ruby's default benchmark utility. It is developed to provide an intuitive solution for frequent benchmark users and for new starters to benchmarking.
          <br/><br/>
          It uses check points and evaluates the runtime between two. As you develop your application define instances of check points and evaluate them whenever you want.
          <br/><br/>
        </p>
        <h4>
          <br/><br/>
          <a href="https://github.com/asungur/hop_timer"  target="_blank">Github Repo</a>
        <h4>
      </div>
    </section>
    <section id="content2">
      <div class="project-gif">
        <figure>
          <img class="project-gif"
                src="https://asungur-site-assets.nyc3.digitaloceanspaces.com/public/assets/images/hop_timer_demo.gif"
                alt="Hop-timer"
          >
        <figure>
      </div>
    </section>
    <section id="fill8">
    </section>
    <section id="fill9">
    </section>
    <section id="project3">
      <div id="post-it" class="project-text">
        <h3>
          Post-it
          <br/><br/>
        </h3>
        <p>
          Post-it is a toy Reddit application. It allows users to submit posts in different categories and interact with other users using comments and voting features.
          <br/><br/>
          It was built using Rails 6 and Bootstrap 3.
          <br/><br/>
        </p>
        <h4>
          <br/><br/>
          <a href="https://github.com/asungur/post_it"  target="_blank">Github Repo</a>
        <h4>
      </div>
    </section>
    <section id="content3">
      <div class="project-gif">
        <figure>
          <img class="project-gif"
                src="https://asungur-site-assets.nyc3.digitaloceanspaces.com/public/assets/images/post_it_demo_long.gif"
                alt="Post-it"
          >
        <figure>
      </div>
    </section>
    <section id="fill10">
    </section>
    <footer>
    </footer>
    <section id="fill11">
      <div class="arrow">
        <a class="up-arrow" href="#top"></a>
      </div>
    </section>
  </main>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/js/arrow.js"></script>
</body>
