<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- INFO -->
    <meta name="title" property="og:title" content="Alican Sungur" />
    <meta name="description" property="og:description" content="I'm a Full-stack software developer in London"/>
    <meta name="type" property="og:type" content="website" />
    <meta name="url" property="og:url" content="https://asungur.com" />
    <meta name="image" property="og:image" content="https://asungur-site-assets.nyc3.digitaloceanspaces.com/public/assets/images/og-icon.png" />
    <meta name="author" content="Alican Sungur" />
    <link rel="shortcut icon" href="https://asungur-site-assets.nyc3.digitaloceanspaces.com/public/assets/favicon.ico">
    <!-- DATA -->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap" rel="stylesheet">
    <title>Alican Sungur</title>
    <script>var clicky_site_ids = clicky_site_ids || []; clicky_site_ids.push(101281811);</script>
    <script async src="//static.getclicky.com/js"></script>
  </head>
  <body>
    <%= yield %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/js/arrow.js"></script>
  </body>
</html>
